div#datalogger(data-role='page')
  script#datalogger-attr-value-template(type='text/template')
    li.attr-value(data-role="fieldcontain")
      span.attr-value-name
      div.controls(data-role="controlgroup")
        label=__('Log data: ')
        select.logging-switch(data-role="slider")
          option(value="no")=__('No')
          option(value="yes")=__('Yes')
        a.show(data-role="button", data-inline="true", data-mini="true")=__("Graph")
  div(data-theme='a', data-role='header', data-position='fixed')
    a(href='#index', data-role='button', data-icon='arrow-l', data-iconpos='left', 
      data-inline='true', data-transition="slide", data-direction="reverse")=__('Back')
    h3=__('Sensor value log')
  div(data-role='content')
    ul#logger-attr-values(data-role='listview', data-inset='true')
      li(data-role='list-divider')=__('Sensor values')
    div#chart-container
      div(data-role='fieldcontain')
        label(for='chart-select-range')=__('Show data of: ') + " "
        select#chart-select-range(name='chart-select-range')
          option(value="day")=__('Last 24 hours')
          option(value="week")=__('Last 7 days')
          option(value="month")=__('Last 30 days')
          option(value="year")=__('Last 365 days')
      div#chart